@model NewCategoryViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>

<form id="createCategory">
    <div class="form-group">
        <label>Name<span class="text-danger">*</span></label>
        <input class="form-control" name="Name" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input class="form-control" name="Description" />
    </div>
    <div class="form-group">
        <label>Is Featured?</label>
        <div class="radio">
            <label><input name="isFeatured" type="radio" value="True" /> True</label>
        </div>
        <div class="radio">
            <label><input name="isFeatured" type="radio" value="False" /> False</label>
        </div>
    </div>

    <button id="saveBtn" type="button" class="btn btn-danger">Save</button>
    <button id="cancelBtn" type="button" class="btn btn-danger">Cancel</button>

</form>

<script>
    $('#saveBtn').click(function () {
        if ($("#createCategory").valid()) {
            $.ajax({
                type: 'POST',
                url: '/Category/Create',
                data: $("#createCategory").serialize()
            })
                .done(function (response) {
                    $('#tableContainer').html(response);
                    $('#actionContainer').html("");
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    swal({
                        title: "Warning",
                        text: "Required fields empty",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    });
                });
        }
        else {
            swal({
                title: "Warning",
                text: "Required fields empty",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            });
        }
    });
    $('#createCategory').validate({
        rules: {
            Name: {
                required: true,
                minlength: 5,
               
            }
            
        },
        messages: {
            Name: {
                required: 'Name is required',
                minlength: 'Minimum Length is 5',
               
            }
           
        }
    });
    $('#cancelBtn').click(function () {
        $('#actionContainer').html("");
    });

</script>
