@model BanSach.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h1>Delete?</h1>
<form method="post">

    <button type="submit">Delete</button>

</form>
<a href="/Index">Cancel</a>
